<% if @trainee_type.errors.any? %>
  $(".errors").html("<%= j render "shared/error_messages", object: @trainee_type %>");
<% else %>
  $("#user_trainee_type_id").append($("<option></option>")
    .attr("value", <%= @trainee_type.id %>)
    .text("<%= @trainee_type.name %>")
    .prop("selected", true));
  $("#traineetype-modal").modal("hide");
  $(".flash").html("<%= j render "layouts/flash" %>");
<% end %>
