<div class="free-trainee">
  <div class="subject">
    <div class="subject-name">
      <%= image_tag "user.png", size: Settings.image_size_40 %>
      <span class="title-name"><%= t "organization_charts.free_trainee" %></span>
    </div>
    <div>
      <% trainees.each do |trainee| %>
        <%= render "trainee", trainee: trainee  %>
      <% end %>
    </div>
  </div>
</div>
